body {background-image: radial-gradient(circle at center center, transparent 0%,rgb(33,33,33) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));}

.cardContainer {
  background-color: rgba(163, 163, 163,0.8);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
  justify-content: space-around;

  min-width: 250px;
  min-width: 250px;
  float:left;
  border-radius: 5px;
}

.card {
  background-color: rgba(245, 4, 4, 0.2);
  flex-basis: 30%;
  width: 200px;
  height: 200px;

  margin: 10px;
  display:inline;
}